body{
    margin:10px;
    text-emphasis: center;

}

.inputFolder{
    margin:5px;
   
}
.add-folder{
    background-color: green;
    margin:10px;
    height:150px;
}

.form__button{
    margin:30px 50%;;
    
}