
h2{
    text-align: center;
}

.add-note-form{
    text-align: center;
    background-color: green;
}
label, textarea{
    margin:10px;
}

.form__button:disabled {
    color: darkgray;
    background-color: white;
}


